.title {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.sectionTitle {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}

.link {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 1.2rem;
}